<h1> <%= @owned_stock.stock.name.upcase %> <h4><%=@owned_stock.stock.ticker_symbol%></h4> </h1> 
<p>
<h3>Here's some information on <%=@owned_stock.stock.name%>: </h3>
</p>
<%=@owned_stock.stock.name%> belongs to the <%=@owned_stock.stock.category%> category.<br>
<%=@owned_stock.stock.name%>'s current price is: $<%=@owned_stock.stock.price%>
<br>
<br>

<a href='/owned_stocks/<%=@owned_stock.id%>/edit'>Make Changes to this Stock!</a>

<br>
<br>
<a href='/stocks'>Back to Main Menu</a><br>
<br>
<a href="/logout">Logout</a>



