<h1> Here is your owned_stock's content.</h1>

<h2> <%= @owned_stock.name %> </h2><br>
<div> <% @owned_stock.stocks.each do |stock| %> </div>
    <li> <%= stock.name %> </li>
    <li> <%= stock.ticker_symbol %> </li>
    <li> <%= stock.current_price %> </li>
<% end %>

<form method="POST" action="/owned_stocks/<%=@owned_stock.id%>"> 
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="delete">
</form>