<h1> <%= @stock.name.upcase %> <h4><%=@stock.ticker_symbol%></h4> </h1> 
<p>
<h3>Here's some information on <%=@stock.name%>: </h3>
</p>
<%=@stock.name%> belongs to the <%=@stock.category%> category<br>
<%=@stock.name%>'s current price is: $<%=@stock.price%><br>
<br>
<br>


<form method='post' action='/stocks/<%=@stock.id%>/add_new_stock'><br>
<label for='stocks'>
<input type='submit' value='Add this stock to my list'>
</form><br>
<br>


<a href='/stocks'>Back to Main Menu</a><br>
<br>
<a href="/logout">Logout</a>



