<h1> <%= @stock.name.upcase %> <h4><%=@stock.ticker_symbol%></h4> </h1> 
<p>
<h3>Here's some information on <%=@stock.name%>: </h3>
</p>
<%=@stock.name%> belongs to the <a href=      ><%=@stock.category%></a> category.<br>
<%=@stock.name%>'s current price is: <%=@stock.price%>

<!--ADD LINK TO CATEGORY PAGE-->


